.google-input {
    position: relative;
    display: flex;
}

.google-input__label {
    animation: expand-cell-reverse 0.3s ease-out 1;
    animation-fill-mode: forwards;
    display: grid;
    grid-template-columns: 20px 0 1fr;
    margin: 0;
    padding: 0 0.4rem;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 36px;
    box-sizing: border-box;
}

.google-input__label__border-top::before {
    content: "";
    display: block;
    border-top: 2px solid var(--primary);
    transition: all 0.3s;
    margin-block-start: 0;
    margin-block-end: 0;
}

.google-input__border-top__lbl {
    line-height: 0;
    padding-left: 0;
    padding-right: 0;
    animation: align_text-reverse 0.3s ease-out 1;
    animation-fill-mode: forwards;
}

.google-input__border-top__text {
    font-weight: 500;
    position: relative;
    font-size: 1rem;
    left: -14px;
    color: var(--primary);
    width: max-content;
    display: block;
    animation: move_text-reverse 0.3s ease-out 1;
    animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 2px;
}

.google-input::before {
    content: "";
    display: block;
    border: 2px solid var(--primary);
    border-right: none;
    width: 0.5rem;
    border-radius: 0.25rem 0 0 0.25rem;
}

.google-input::after {
    content: "";
    display: block;
    border: 2px solid var(--primary);
    border-left: none;
    width: 0.5rem;
    border-radius: 0 0.25rem 0.25rem 0;
}

.google-input__control {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--primary);
    height: 2.2rem;
    width: 100%;
    color: var(--primary);
    font-weight: 300;
}

.google-input__control:valid+.google-input__label {
    animation: none;
    grid-template-columns: 20px auto 1fr;
}

.google-input__control:valid+.google-input__label .google-input__border-top__lbl {
    animation: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.google-input__control:valid+.google-input__label .google-input__border-top__lbl .google-input__border-top__text {
    animation: none;
    font-size: 0.785rem;
    left: 0px;
    line-height: 0;
}

.google-input__control:focus {
    outline: none;
}

.google-input__control:focus:not(:valid)+.google-input__label {
    animation: expand-cell 0.3s ease-out 1;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.google-input__control:focus:not(:valid)+.google-input__label .google-input__border-top__lbl {
    animation: align_text 0.3s ease-out 1;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.google-input__control:focus:not(:valid)+.google-input__label .google-input__border-top__lbl .google-input__border-top__text {
    animation: move_text 0.3s ease-out 1;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes align_text {
    0% {
        padding-left: 0;
        padding-right: 0;
    }

    100% {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@keyframes move_text {
    0% {
        font-size: 1rem;
        left: -14px;
        line-height: 2;
    }

    100% {
        font-size: 0.785rem;
        left: 0px;
        line-height: 0;
    }
}

@keyframes expand-cell {
    0% {
        grid-template-columns: 20px 0 1fr;

    }

    100% {
        grid-template-columns: 20px auto 1fr;
    }
}

@keyframes align_text-reverse {
    0% {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    100% {
        padding-left: 0;
        padding-right: 0;
    }
}

@keyframes move_text-reverse {
    0% {
        font-size: 0.785rem;
        left: 0px;
        line-height: 0;
    }

    100% {
        font-size: 1rem;
        left: -14px;
        line-height: 2;
    }
}

@keyframes expand-cell-reverse {
    0% {
        grid-template-columns: 20px auto 1fr;
    }

    100% {
        grid-template-columns: 20px 0 1fr;
    }
}