@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Schibsted+Grotesk:wght@500&display=swap&family=Open+Sans:wght@400;500;600;700');
@import url(console.css);
@import url(form.css);
@import url(google-input.css);
@import url(modal.css);


:root {
    --primary: #59369b;
}

html {
    height: 100%;
}

body {
      height: 100%;
      margin:0;
      background-image: linear-gradient(to right, #8360c3, #2ebf91);
      font-family: 'Passion One', cursive;
}

.reset-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.formal {
    font-family: 'Open Sans';
    color: white;
}

.title {
    color: white;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    margin:0;
}

.title__text {
    padding-left: 0.5rem;
}

.white {
    fill: #fff;
}

.brand-simon {
    width: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.navbar {
    margin:0;
    padding:0;
    list-style-type: none;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    perspective: 50em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    position: relative;
    container-type: inline-size;
    container-name: wrapper;
}

footer {
    padding:1rem;
}

footer div {
    border-top: 1px dashed white;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.credits__subject {
    color:white;
    font-family: 'Open Sans';
    font-weight: 400;
}

.brand {
    width: 200px;
}

.user-messages {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.message {
    top: 0;
    z-index: 1;
    transform: scale(0);
    position: absolute;
}

.transparent-btn {
    background-color: transparent;
    border:none;
    cursor: pointer;
}

.solid-btn {
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    font-weight: 500;
    cursor: pointer;
}

.outline-btn {
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    font-weight: 500;
    cursor: pointer;
}

.icon {
    width: 25px;
}

.navbar {
    margin-top: 1rem;
}

.btn-game {
    background-color: transparent;
    border: 1px solid white;
    border-radius: .25rem;
    color: white;
    align-self: flex-start;
    font: 1.5rem 'Schibsted Grotesk', sans-serif;
    padding: 0.25rem 1rem;
    cursor: pointer;
    transition: transform 0.3s;
    margin-top: 1rem;
    transform: scale(1);
}

.btn-game:hover {
    transform: scale(1.1);
}

.next-level {
    text-align: center;
}

.next-level .message-header{
    font-size: 2.2rem;
}

.message-header {
    margin: 0;
    font-size: 3rem;  
    color: white;
}

.game-over__message {
    border: 5px solid hsl(0 82% 41% / 1);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 1px hsl(0deg 100% 50% / 100%), 1px 1px 24px hsl(0deg 100% 65%), inset 0px 1px 11px 0px hsl(0deg 100% 50% / 100%);
    color: #ce1414;
    padding: 0.5rem 1rem 0.5rem 4.5rem;
    text-shadow: 1px 1px 1px hsl(0deg 100% 50% / 100%), 1px 1px 24px hsl(0deg 100% 65%);   
}

.game-over__devil {
    position:absolute;
    left: 5px;
    animation: devilAnimation 1s infinite;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);
}

.modal__header__title {
    margin: 0.5rem;
    font-weight: normal;   
}

.modal__actions {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}



@keyframes devilAnimation{
    0%{
        transform: translateY(3px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(3px);
    }
}





